<%= @end_time %>
<br>
<%= @start_time %>
<br>
<%= @score %>
<br><br><br><br><br><br>

******** Now your result ********

<p>Your word: <%= @attempt %></p>
<p>Time Taken to answer: <%= @duree %></p>
<p>Translation: <%= @translation %></p>
<p>Your score: <%= @score %></p>
<p>Message: <%= @message %></p>


*****************************************************